.colorbox{
background-color: antiquewhite;
}

.span_box{
color: rgb(77, 77, 18);

}
#myarticle {
background-color: burlywood;

}

.shoebill{
    background-color: rgb(49, 194, 126);
}
#david{
padding: 5px 20px;
border-style: crimson; 
}